.main {
  background-color: #fff;
  border: 1px solid #ffffffb0;
  border-radius: 75px;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}
.flex {
  display: flex;
}
.flex-container {
  gap: 55px;
}
.ptb_20 {
  padding: 5px 0 20px;
}
.flex-item img {
  border-radius: 25px;
}
.img_car img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.color_text {
  color: #222222;
}
.career {
  font-size: 18px;
  font-weight: 400;
  /*padding: 15px 0 10px;*/
  margin: 0;
  font-family: "Satoshi", Sans-serif;
}
.head-career {
  font-size: 50px;
  font-weight: 600;
  margin: 0px;
}
.btn a {
  gap: 10px;
  align-items: center;
  text-decoration: none;
  justify-content: center;
}
.btn-text p {
  font-family: "Satoshi", Sans-serif;
  font-weight: 500;
  color: #000;
  margin: 0;
}
.btn .btn-text a:hover {
  color: #fff;
}
.btn {
  background-color: transparent;
  border-radius: 15px;
  /* margin: 0; */
  height: 30px;
  position: relative;
  border-radius: 15px;
  height: 30px;
  display: inline-flex;
  padding: 0 10px 50px 40px;
}
.btn-app {
  position: absolute;
  left: 0;
  background-color: #ea5e20;
  border-radius: 15px;
  width: 30px;
  height: 30px;
  transition: 0.3s;
}
/*.btn:hover .btn-text p {
  color: #fff;
}*/
/*.btn-text {
  position: relative;
}*/
.btn-app:hover {
  transform: translateX(5px);
}
.btn-app:hover {
  width: 100%;
}
.btn-app img {
  position: absolute;
  top: 9px;
  left: 9px;
}
.btn:hover {
  color: #fff;
}
.inner-flex {
  flex-direction: column;
  justify-content: space-between;
}
.inner_text {
  max-width: 495px;
}
.bth-link::before {
  content: "";
  background-color: #ea5e20;
  width: 30px;
  height: 30px;
  position: absolute;
  border-radius: 15px;
  left: 0;
  top: 0;
  transition: 0.3s;
  z-index: 0;
}
.bth-link::after {
  content: "";
  background-image: url(images/arrow.png);
  position: absolute;
  background-repeat: no-repeat;
  left: 10px;
  width: 10px;
  height: 10px;
  display: inline-flex;
  top: 8px;
}
.btn-text {
  z-index: 1;
}
.bth-link:hover .btn-text p {
  color: #fff;
}
.bth-link:hover::before {
  width: 100%;
}

.bth-link:hover::after {
  transform: translateX(5px);
}
@media (max-width: 991px) {
  .flex {
    flex-direction: column;
    gap: 30px;
  }
  .inner-flex {
    flex-direction: column;
    gap: 30px;
  }
  .inner_img img {
    width: 100%;
  }
  .inner_text {
    max-width: 100%;
  }
  .btn {
    padding-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .head-career {
    font-size: 35px;
  }
  .btn {
    padding-bottom: 30px;
  }
}
